body {
    background: #141625;
    font-family: 'Spartan', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 103px;
    height: 100vh;
    background: #1E2139;  
    border-radius: 0px 20px 20px 0px;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linha-cabecalho {
    width: 103px;
    height: 1px;
    background: #cacaca;

}
.foto-avatar {
    width: 50px;
    margin: 30px 0px;
}
main {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 100px auto;
}
.titulo-principal {
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr 1fr;
}
.filtro {
    margin: 20px 0;
    margin-right: 20px;
    grid-row: span 2;
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}
.botao-nova-fatura {
    display: flex;
    padding-right: 15px;
    align-items: center;
    justify-content:space-between;
    gap: 5px;
    grid-row: span 2;
    height: 48px;
    width: 150px;
    border-radius: 48px;
    border: none;
    background: #7C5DFA;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    color: #FFFFFF;

}
.titulo-app {
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
}
.total-faturas {
    color: #FFFFFF;
}
.conteudo-principal-vazio{
    align-self: center;
    margin-top: 100px;
}
.conteudo-principal {
    margin-top: 100px;
}
.cartao-invoice{
    height: 72px;
    border-radius: 8px;
    background: #1E2139;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.codigo-invoice {

    width: 10%;
}
.vencimento-invoice {
    width: 25%;
}
.nome-invoice {
    width: 15%;
}
.valor-invoice {
    width: 15%;
    text-align: end;
}
.status-click{
    display: flex;
    width: 20%;
    align-items: center;
}
.status-invoice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40px;
    border-radius: 8px;
    font-weight: 600;
}
.pago {
    background-color: rgb(51, 214, 159, 10%);
    color: rgb(51, 214, 159);
}
.pendente {
    background-color: rgb(255, 143, 0, 10%);
    color: rgb(255, 143, 0);
}
.click-invoice {
    padding: 10px;
    transform: rotate(180deg);
}
.caixa-login, .caixa-register{
    padding: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    background-color: #1E2139;
    align-self: center;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #1E2139;
}
.caixa-register{
    height: 500px;
}
.titulo-login, .titulo-cadastre-se {
    margin: 40px 0;
    font-size: 2.3rem;
    color: #FFFFFF;
    font-weight: 600;
}
.input-nome-usuario, .input-senha, .input-nome-sobrenome, .input-nome-usuario-registro, .input-email-usuario, .input-senha-registro {
    width: 100%;
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 10px 0;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    outline: none;
}
.user-box{
    position: relative;
    width: 100%;
}
.label-login {
    font-size: 1.5rem;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
}
.label-ativo {
    top: -20px;
    left: 0;
    color: #7C5DFA;
    font: 1rem;
}
.user-box .input-nome-usuario:focus + .label-login,
.user-box .input-senha:focus + .label-login,
.user-box .input-nome-usuario:valid + .label-login,
.user-box .input-senha:valid + .label-login,
.user-box .input-nome-sobrenome:focus + .label-login,
.user-box .input-senha-registro:focus + .label-login,
.user-box .input-nome-sobrenome:valid + .label-login,
.user-box .input-senha-registro:valid + .label-login, 
.user-box .input-nome-usuario-registro:focus + .label-login,
.user-box .input-email-usuario:focus + .label-login,
.user-box .input-nome-usuario-registro:valid + .label-login,
.user-box .input-email-usuario:valid + .label-login {
    top: -20px;
    left: 0;
    color: #7C5DFA;
    font-size: 1rem;
}
.botao-logar, .botao-cadastrar {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 30px;
    font-family: 'Spartan', sans-serif;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}
.botao-logar:hover, .botao-cadastrar:hover {
    transform: scale(1.2);
    background-color: #7C5DFA;
    color: #FFFFFF;
}
.botao-cadastre-se {
    background: transparent;
    border: none;
    margin: 20px;
    color: #FFFFFF;
    font-size: 1rem;
}
.botao-cadastre-se:hover {
    text-decoration: underline;
}






.oculto {
    display: none;
}