body {
    background: #141625;
    font-family: 'Spartan', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 103px;
    height: 100vh;
    background: #1E2139;  
    border-radius: 0px 20px 20px 0px;
    z-index: 2;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linha-cabecalho {
    width: 103px;
    height: 1px;
    background: #cacaca;

}
.foto-avatar {
    width: 50px;
    margin: 30px 0px;
}
main {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 100px auto;
}
.titulo-principal {
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr 1fr;
}
.vencimento-invoice-tab {
    display: none;
}
.filtro {
    margin: 20px 0;
    margin-right: 20px;
    grid-row: span 2;
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}
.filtro option {
    background: #141625;
    color: #FFFFFF;
}
.botao-nova-fatura {
    display: flex;
    padding-right: 15px;
    align-items: center;
    justify-content:space-between;
    gap: 5px;
    grid-row: span 2;
    height: 48px;
    width: 150px;
    border-radius: 48px;
    border: none;
    background: #7C5DFA;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    color: #FFFFFF;

}
.titulo-app {
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
}
.total-faturas {
    color: #FFFFFF;
}
.conteudo-principal-vazio{
    align-self: center;
    margin-top: 100px;
}
.conteudo-principal {
    margin-top: 100px;
}
.cartao-invoice{
    height: 72px;
    border-radius: 8px;
    background: #1E2139;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.codigo-invoice {
    width: 10%;
    font-weight: 600;
}
.vencimento-invoice {
    width: 25%;
}
.nome-invoice {
    width: 15%;
}
.valor-invoice {
    width: 15%;
    text-align: end;
    font-weight: 600;
}
.status-click{
    display: flex;
    width: 20%;
    align-items: center;
}
.status-invoice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40px;
    border-radius: 8px;
    font-weight: 600;
}
.pago {
    background-color: rgb(51, 214, 159, 10%);
    color: rgb(51, 214, 159);
}
.pendente {
    background-color: rgb(255, 143, 0, 10%);
    color: rgb(255, 143, 0);
}
.click-invoice {
    padding: 10px;
    transform: rotate(180deg);
}
.caixa-login, .caixa-register{
    padding: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    background-color: #1E2139;
    align-self: center;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #1E2139;
}
.caixa-register{
    height: 500px;
}
.titulo-login, .titulo-cadastre-se {
    margin: 40px 0;
    font-size: 2.3rem;
    color: #FFFFFF;
    font-weight: 600;
}
.input-login-registro {
    width: 100%;
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 10px 0;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    outline: none;
}
.user-box{
    position: relative;
    width: 100%;
}
.label-login {
    font-size: 1.5rem;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
}
.user-box .input-login-registro:focus + .label-login,
.user-box .input-login-registro:valid + .label-login {
    top: -20px;
    left: 0;
    color: #7C5DFA;
    font-size: 1rem;
}
.botao-logar, .botao-cadastrar {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 30px;
    font-family: 'Spartan', sans-serif;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}
.botao-logar:hover, .botao-cadastrar:hover {
    transform: scale(1.2);
    background-color: #7C5DFA;
    color: #FFFFFF;
}
.botao-cadastre-se, .botao-ir-login{
    background: transparent;
    border: none;
    margin: 20px;
    color: #FFFFFF;
    font-size: 1rem;
}
.botao-cadastre-se:hover, .botao-ir-login:hover {
    text-decoration: underline;
}
.caixa-novo-invoice{
    position: absolute;
    top: 0px;
    height: calc(100vh - 80px);
    width: 20%;
    background: #141625;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    padding: 40px 20px 40px 130px;
}
form {
    display: flex;
    flex-direction: column;
}
.titulo-novo-invoice{
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0px 40px 0px;
}
.caixa-novo-invoice label {
    font-size: 1.2rem;
}
legend {
    font-size: 1.2rem;
}
select{
    padding: 10px;
    font-family: 'Spartan', sans-serif;
    font-size: 1rem;
    margin: 10px 0px;
    background: #252945;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}
option {
    background: #252945;
}
.input-padrao{
    margin: 10px 0px 40px 0px;
    padding: 10px;
    font-size: 1rem;
    background: #252945;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Spartan', sans-serif;
}
.botoes-novo-invoice {
    display: flex;
    gap: 15px;
}
.salvar-invoice-novo, .descartar-invoice-novo{
    font-size: 1rem;
    height: 50px;
    padding: 0px 20px;
    border-radius: 30px;
    border: none;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
}
.salvar-invoice-novo{
    color: #ffffff;
    background: #7C5DFA;
}
.descartar-invoice-novo{
    background: #F9FAFE;
    color: #7E88C3;
}
.fundo-escuro{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #000000;
    opacity: 50%;
}
.barra-de-tarefas-invoices-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #1e2139;
    height: 100px;
    width: 100vw;
}
.editar-invoice, .deletar-invoice, .marcar-pago{
    margin: 0px 5px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Spartan', sans-serif;
    color: #ffffff ;
}
.editar-invoice{
    width: 25%;
    background: #252945;
} 
.deletar-invoice{
    width: 25%;
    background: #EC5757;
} 
.marcar-pago{
    width: 35%;
    background: #7C5DFA;
}
.barra-de-tarefas-invoices-desktop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #141625;
}
.conteudo-barra-de-tarefas{
    width: 70%;
    margin: 100px auto;
}
.botao-voltar{
    background: transparent;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Spartan', sans-serif;
    color: #ffffff;
    border: none;
}
.status-e-botoes{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 20px 0px;
    background: #1E2139;
    border-radius: 15px;
}
.status-invoice-selecionado {
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: 20%;
}
.status-invoice-selecionado:first-child {
    color: #ffffff
}
.botoes{
    display: flex;
    align-items: center;
    width: 40%;
}
.informacoes-do-invoice{
    padding: 30px;
    background: #1E2139;
    border-radius: 15px;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    gap: 20px;
}
.codigo-invoice-selecionado, .nome-invoice-selecionado, .id-invoice-selecionado, .vencimento-invoice-selecionado {
    font-size: 1.2rem;
}
.codigo-invoice-selecionado, .nome-invoice-selecionado{
    font-weight: 600;
}
.valor-invoice-selecionado {
    grid-column: span 2;
    font-size: 2rem;
    padding: 20px;
    background: #141625;
    border-radius: 15px;
    margin-top: 40px;
    text-align: end;
}


@media screen and (max-width:1265px) {
    .cabecalho {
        width: 100vw;
        height: 103px;
        flex-direction: row;
        border-radius: 0px;
    }
    .avatar {
        flex-direction: row;
    }
    .linha-cabecalho {
        width: 1px;
        height: 103px;
    }
    .foto-avatar {
        margin: 0px 30px;
    }
    main {
        margin: 200px auto;
        width: 90%;
    }
    .cartao-invoice p {
        line-height: 1.5rem;
        font-size: 0.8rem;
    }
    .vencimento-invoice-tab {
        display: block;
    }
    .vencimento-invoice {
        display: none;
    }
}
@media screen and (max-width:650px) {
    .cabecalho {
        height: 80px;
    }
    main {
        margin: 150px auto;
    }
    .linha-cabecalho {
        height: 80px;
    }
    .caixa-login, .caixa-register {
        width: 300px;
    }
    .foto-avatar {
        width: 40px;
        margin: 0px 20px;
    }
    .titulo-app{
        font-size: 28px;
    }
    .filtro {
        margin: 0px;
    }
    .total-faturas{
        line-height: 22px;
    }
    .botao-nova-fatura{
        width: 100px;
    }
    .cartao-invoice{
        height: 80px;
        padding: 20px;
        display: grid;
        gap: 0px;
        grid-template-columns: 2fr 1fr;
        grid-row: 1fr 1fr 1fr;
    }
    .nome-invoice {
        grid-column: 2;
        grid-row: 1;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    .codigo-invoice{
        margin-bottom: 20px;
    }
    .status-click {
        grid-row: 2 / span 2;
        grid-column: 2;
        padding-left: 10px;
    }
    .cartao-invoice p {
        line-height: 1rem;
        font-size: 12px;
    }
    .codigo-invoice, .nome-invoice, .vencimento-invoice, .status-click, .valor-invoice{
        width: 100%;
    }
    .valor-invoice {
        text-align: start;
    }
}





.oculto {
    display: none;
}